header{
    width: 100%;
    height: 18vh;
    background-color: rgb(173, 222, 255);
    display: flex;
    align-items: center;
    justify-content: center;
   
}
h1{
    color: white;
    font-size: 10vh;
    font-weight: bold;
    padding: 2vh;

}
section{
    width: 100%;
    height: 70vh;
}
footer{
    width: 100%;
    flex-grow: 1;
    background-color: rgb(173, 222, 255);
}
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 8%;
    margin-top: 2%;
}
.form-field{
    width: 70%;
}
.butt{
    margin-top: 1%;
    margin-right: 25%;
    display: flex;
    justify-content: flex-end;
}
body{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}