body{
    display: flex;
    flex-direction: column;
}
header{
    background-color: rgb(173, 222, 255); 
}
h1{
    color: white;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    margin: 16px;
    padding: 16px;
    line-height: 100%; 

}
section{
    display: flex;
    flex-direction: column;
}
.form{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-right: 32px;
    margin-left: 32px;
}
.form-field{
    font-size: 1.3em;
    margin-bottom: 16px; 
}
.butt{
    margin-right: 32px;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-end;
}
.butt button{
    font-size: 1.3em;
}


