<body>
  <header>
    <h1>Formulario</h1>
 </header>
 <section>
        <form [formGroup]="user" class="form">
            <mat-form-field appearance="standard" class="form-field">
                <mat-label>Nombre</mat-label>
                <input matInput  formControlName="name" required>
              </mat-form-field>

              <mat-form-field appearance="standard" class="form-field">
                <mat-label>Apellido</mat-label>
                <input matInput  formControlName="surname">
              </mat-form-field>

              <mat-form-field appearance="standard" class="form-field">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
              </mat-form-field>

              <mat-form-field appearance="standard" class="form-field">
                <mat-label >Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Ejemplo: Example_9" required >
                <!-- <mat-error *ngIf="email.invalid">{{getErrmat-errororMessage()}}</mat-error> -->
                <mat-icon matSuffix (click)=handlerPassword()>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field> 

              <mat-form-field appearance="standard" class="form-field">
                <mat-label>Repita contraseña</mat-label>
                <input matInput  [type]="hide2 ? 'password' : 'text'" formControlName="password2" required>
                <mat-icon matSuffix (click)="handlerPassword2()" >{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon> 
              </mat-form-field>
              <mat-error style="font-size: small;" *ngIf="!validatePasswords()">Las contraseñas no coinciden</mat-error>     
        </form>
        <div class="butt">
          <button mat-button [disabled]='user.invalid' [ngStyle]="{'background':'rgb(134, 193, 232)'}" (click)='handlerSend()'>Enviar </button>
        </div>
        

       
       
 </section>    
 <footer></footer>
</body>
