body{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(85, 185, 252), rgb(173, 222, 255),rgb(85, 185, 252)); 
}
.title{
    font-weight: 600;
    padding: 0.5em;
    font-style: italic;
    font-size: 4em; 
    color:floralwhite;
    text-align: center;
    line-height: 100%;
    margin: 16px;
}
.form{
    display: flex;
    flex-direction: column;
    margin-top:32px;
    margin-right: 32px;
    margin-left: 32px;
}
.form-field{
    font-size: 1.5em;
    margin-bottom:16px;
}
.button-login{
    background-color: rgb(158, 158, 157);
    border-style: none;
    font-size: 1.5em; 
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    margin-bottom:16px;
}
.register{
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  
}
.register p{
    color: dimgray;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 16px;
    margin-bottom: 34px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: normal; 
}

/* @media(min-width:420px){
    
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 10vh;
    
    }
    .title h1{
        font-weight: 600;
        font-style: italic;
        font-size: 20vw; 
        color: white;
       
    }
} */