.home{
    width: 100%;
    height: 80%;
    background-color: rgb(85, 185, 252);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
   
}
.title{
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.button{
      background-color:  rgb(214, 214, 214);
      border: none;
  }
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10vh;

   
}
.form-field{
  padding: 1vh;;
  margin-bottom: 2vh;;
  width: 70vw;
  height: 6vh;
  background-color: rgb(214, 214, 214);
  border-radius: 0.5vh;
  color: black;
}
.button-login{
    width: 70vw;
    height: 6vh;
    background-color: rgb(158, 158, 157);
    border-style: none;
    margin-top: 3vh;
    
}
.footer{
    width: 100vw;
    height: 10%;
    background-color: rgb(72, 174, 242);
}
.header{
    width: 100vw;
    height: 10%;
    background-color: rgb(72, 174, 242);
}
.register{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20%;
    width: 100%;
}
p{
    text-align: center;
    color:rgb(74, 90, 90);
    font-weight: bold;
    font-size: 3vh;
}
a{
    color: white;
    font-weight: normal;
}