.home{
    width: 100%;
    height: 100%;
    background-color: rgb(85, 185, 252);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
   
}
.title{
 
    width: 100%;
    text-align: center;
    color: white;
    font-size: 10vw;
    margin-top: 15vh;
}
.button{
      background-color:  rgb(214, 214, 214);
      border: none;
  }
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -25vh;
   
}
.form-field{
  padding: 1vh;;
  margin-bottom: 2vh;;
  width: 80vw;
  height: 6vh;
  background-color: rgb(214, 214, 214);
  border-radius: 0.5vh;
 
}
