<body>
    <header>
        <h1>Informe Semanal</h1>
    </header>
    
    <section>
        <div class="container-main">
            <form [formGroup]="form" class="form">
                <mat-form-field >
                    <mat-label>Selecciona una semana</mat-label>
                    <mat-select formControlName="week" required>
                      <mat-option value="1">Semana 1</mat-option>
                      <mat-option value="2">Semana 2</mat-option>
                      <mat-option value="3">Semana 3</mat-option>
                      <mat-option value="4">Semana 4</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field >
                    <mat-label>Selecciona un mes</mat-label>
                    <mat-select formControlName="month" required>
                      <mat-option value="01">Enero</mat-option>
                      <mat-option value="02">Febrero</mat-option>
                      <mat-option value="03">Marzo</mat-option>
                      <mat-option value="04">Abril</mat-option>
                      <mat-option value="05">Mayo</mat-option>
                      <mat-option value="06">Junio</mat-option>
                      <mat-option value="07">Julio</mat-option>
                      <mat-option value="08">Agosto</mat-option>
                      <mat-option value="09">Septiembre</mat-option>
                      <mat-option value="10">Octubre</mat-option>
                      <mat-option value="11">Noviembre</mat-option>
                      <mat-option value="12">Diciembre</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field >
                    <mat-label>Selecciona un año</mat-label>
                    <mat-select formControlName="year" required>
                      <mat-option value="2020">2020</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="container-button"> 
                    <button mat-button class="button" [disabled]='form.invalid' (click)='submit()'>Buscar</button>
                  </div>
                 
            </form>
            <div class="container-savings">
                <div class="saving_item">
                    <p>Ingresos</p>
                <div class="item_con">
                    <p>{{totalDeposit}}<span matSuffix>€</span> </p>
                   
                </div>
                </div>
                <div class="saving_item">
                    <p>Gastos</p>
               <div class="item_con">
                    <p>{{totalSpend}} <span matSuffix>€</span> </p>
                    
               </div>
                </div>
                <div class="saving_item">
                    <p>Beneficios</p>
                <div class="item_con" *ngIf="(totalDeposit-totalSpend)>0" style="background-color: SeaGreen;">
                    <p>{{total}} <span matSuffix>€</span></p>    
                </div>
                <div class="item_con" *ngIf="(totalDeposit-totalSpend)===0" style="background-color: rgb(143, 205, 247);">
                    <p>{{total}} <span matSuffix>€</span></p>    
                </div>
                <div class="item_con" *ngIf="(totalDeposit-totalSpend)<0" style="background-color: FireBrick;">
                    <p>{{total}} <span matSuffix>€</span></p>    
                </div>
                </div>
            </div>
        </div>
        <div class="container-tables">
            <div class="container-deposit">
                <table class="tabla" *ngIf="responseDeposit.length>0">
                    <caption>Ingresos</caption>
                    <thead>
                       <tr>
                           <th class="tablaTH" data-campo="concepto">Concepto</th>
                           <th class="tablaTH" data-campo="ingreso">Ingreso(€)</th>
                           <th class="tablaTH" data-campo="fecha">Fecha</th>
                           <th class="tablaTH" data-campo="comentario">Comentario</th>
                       </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let deposit of this.responseDeposit">
                            <td class="tablaTD" data-campo="concepto">{{deposit.capacity}}</td>
                            <td class="tablaTD" data-campo="ingreso">{{deposit.deposit}}€</td>
                            <!-- <td class="tablaTD" data-campo="fecha">{{deposit.date.substring(0,10)}}</td> -->
                            <td class="tablaTD" data-campo="fecha">{{deposit.date.format('l')}}</td>
                            <td class="tablaTD" data-campo="comentario">{{deposit.comment}}</td>
                        </tr>
                    </tbody>
                </table>    
            </div>
            <div class="container-spend">
                <table class="tabla" *ngIf="responseSpend.length>0">
                    <caption>Gastos</caption>
                    <thead>
                       <tr>
                           <th class="tablaTH" data-campo="concepto">Concepto</th>
                           <th class="tablaTH" data-campo="ingreso">Gasto(€)</th>
                           <th class="tablaTH" data-campo="fecha">Fecha</th>
                           <th class="tablaTH" data-campo="comentario">Comentario</th>
                       </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let spend of this.responseSpend">
                            <td class="tablaTD" data-campo="concepto">{{spend.capacity}}</td>
                            <td class="tablaTD" data-campo="ingreso">{{spend.spend}}€</td>
                            <!-- <td class="tablaTD" data-campo="fecha">{{spend.date.substring(0,10)}}</td> -->
                            <td class="tablaTD" data-campo="fecha">{{spend.date.format('l')}}</td>
                            <td class="tablaTD" data-campo="comentario">{{spend.comment}}</td>
                        </tr>
                    </tbody>
                </table>    
            </div>
        </div>
    </section>
</body>
