body{
    background-color: rgb(227, 246, 249);
}
h1{
    font-size: 8vw;
    font-weight: 500;
    background-color:  rgb(143, 205, 247);
    padding: 6vw;
    text-align: center;
    margin-block-end:0px;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(227, 246, 249);
  
}
.form{
    border: 0.5vh solid gray;
    margin-top: 3vh;
    width: min-content;
    padding:2vh;
    margin-left: 3vh;

}
.container-button{
    display: flex;
    justify-content: flex-end;
}
.button{
    background-color: rgb(201, 201, 201);
    
}
.container-main{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-savings{
    border: 0.5vh solid gray;
    margin-top: 3vh;
    margin-left:3vh;
    margin-right: 3vh;
    padding:2vh;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  
}
.saving_item{
    width: 30%;

} 
.saving_item p{
    text-align: center;
    margin: 2vh;
}
.item_con{
    border: 0.2vh solid gray;
}
.container-tables{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}
.tabla{
    margin-left: 2vh;
    margin-right: 2vh;
    border-collapse: collapse;
    margin-bottom: 2vh;
  
}
caption{
    font-size: 5vh;
    padding:1vh;
    margin-bottom: 2vh;
}
.tablaTD{
    text-align: center;
    padding: 1vh;
    border:0.25vh solid black;
  
}
.tablaTH{
    padding: 1vh;
    border:0.25vh solid black;
}
@media(max-width:480px){
    .tabla tr{
        display: flex;
        flex-direction: column;
        border: 0.25vh solid black;
    }
    .tablaTD{
        border:none;
        max-width: none;
        
    }
    .tabla thead{
        display:none;   
    }
    .tabla td[data-campo]{
        display: flex;
    }
    .tabla td[data-campo]::before{
        content: attr(data-campo);
        width: 90px;
        text-align: start;
        font-weight: bold;
    }
    .totalDeposit p:last-child{
        width: 20vw;
        font-size: 3vh;
    }
    .totalSpend p:last-child{
        width: 20vw;
        font-size: 3vh;
    }
    .diff p:last-child{
        width: 20vw;
        font-size: 3vh;
    }
}