h1{
    color: red;
    font-size: 2em;
}
.message{
    font-size: 1em;
}
.container{
    display: flex;
    justify-content: flex-end;
}
@media(min-width:800px){
    .message{
        font-size: 1.2em;
        
    } 
    .container button{
        font-size: 1.3em;
    }
}