body{
    background-color: rgb(227, 246, 249);
}
h1{
    font-size: 2.5em;
    font-weight: 500;
    background-color:  rgb(143, 205, 247);
    padding: 32px;
    text-align: center;
    margin-block-end:0px;
    line-height: 100%;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(227, 246, 249);
  
}
.form{
    border: 2.5px solid gray;
    margin-top: 16px;
    width: min-content;
    padding:16px;
  

}
.container-button{
    display: flex;
    justify-content: flex-end;
}
.button{
    background-color: rgb(201, 201, 201);
    
}
.container-main{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-savings{
    border: 2.5px solid gray;
    margin:16px;
    padding: 16px;
    /* flex-grow: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
}
.saving_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 8px;

} 
.saving_item p{
    margin: 16px;
    text-align: center;
}
.item_con{
    border: 0.5px solid gray;
    margin-bottom: 16px;
}
.container-tables{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.container-deposit{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container-spend{
    width: 100%;
    display: flex;
    justify-content: center;
}
.tabla{
    margin-left: 16px;
    margin-right: 16px;
    border-collapse: collapse;
    margin-bottom: 16px;
    width: 70%;
}
caption{
    font-size: 2em;
    padding:16px;
    margin-bottom: 16px;
}
.tablaTD{
    text-align: center;
    padding: 8px;
    border:0.5px solid black;
  
}
.tablaTH{
    padding: 8px;
    border:0.5px solid black;
}
@media(max-width:480px){
    .tabla{
        margin-left: 16px;
        margin-right: 16px;
        border-collapse: collapse;
        margin-bottom: 16px;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    tbody{
        width: 100%;
    }
    .tabla tr{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 0.5px solid black;
        width: 100%;
    }
    .tablaTD{
        border:none;
        max-width: none;
        
    }
    .tabla thead{
        display:none;   
    }
    .tabla td[data-campo]{
        display: flex;
    }
    .tabla td[data-campo]::before{
        content: attr(data-campo);
        width: 90px;
        text-align: start;
        font-weight: bold;
    }

}